doctype html

html(lang='en')
    head
        title i18n Demo
        meta(charset="utf-8")
    body

        p #{i18n.__("Welcome")}

        p
            a(href="/contact") Contact Information

        p #{i18n.__("Language")}

        p
            ul
                li
                    a(href="/zh") Chinese
                li
                    a(href="/en") English